<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/c3fcea00-7be0-4f2a-be8f-5fce53e7dbfe/resourceGroups/ProvaAPI/providers/Microsoft.Web/sites/phidelisapi</ResourceId>
    <ResourceGroup>ProvaAPI</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://phidelisapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4c93c44a-7031-4bbb-ae0f-bb584971a305</ProjectGuid>
    <PublishUrl>https://phidelisapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$phidelisapi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>